<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Quote Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center", style='background-size: cover; background-position-y: center'>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Quotes</a></p>
          <h2>Random Quote Generator<i> For Movie Trivia </i></h2>
        </div>

        <div class='row text-center'>
            <div class="col-md">
                <strong>{{ link }}</strong>
                <hr>
            </div>
        </div>
    </div>    
</body>
</html>
<div class="container">

